.searchPage {

    & h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 20px;
    }

    &_query {
        margin-top: 20px;
        width: 50%;
        height: 60px;
        margin: 0 auto;

        input {
            width: 100%;
            height: 100%;
            font-size: 30px;
            background-color: #1f1b2e;
            border: none;
            outline: none;
            padding-inline: 10px;
            color: #fff;
        }
    }
    &_result {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 50px;
    }
}