.moviesCategory {

    &_data {

        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 30px;

        h1 {
            font-size: 40px;
            letter-spacing: 15px;
            margin: auto;
            text-transform: uppercase;
        }
    }

    
}
.pagination {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
}