.homepage {
    overflow: hidden;

    &_container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        &_movies {
            // display: flex;
            flex-wrap: wrap;
            gap: 15px;
            padding-bottom: 60px;
            overflow: hidden;



            & h2 {
                font-size: 30px;
                margin-top: 60px;
            }


        }
    }
}